package ${packageResultProxy};

import java.util.List;

import com.google.web.bindery.requestfactory.shared.ProxyFor;
import com.google.web.bindery.requestfactory.shared.ValueProxy;
import com.rhem.server.resultbean.${modelName}ListLoadResultBean;
import ${fqClassName};
import com.sencha.gxt.data.shared.loader.ListLoadResult;

@ProxyFor(value = ${modelName}ListLoadResultBean.class)
public interface ${modelName}ListLoadResultProxy extends ValueProxy, ListLoadResult<${className}> {
    public List<${className}> getData();
}
